
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content option:hover {background-color: #7FFF00;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
 

  label {
    margin: 15px;
    margin-top: 15px;
  }

  input {
    margin: 15px;
    margin-top: 15px;
  }

  button{
      margin: 30px;
      background-color: whitesmoke;
      padding: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  button:hover{
    background-color: #04AA6D;
  }

  .header {
    background-color: rgb(85, 85, 197);
    display: inline-flex;
    width: 100%;
    max-height: 150px;
  }

  .header_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #bcd5cc;
    left: 0px;
  }

  .logo {
    width: 10%;
    max-width: 150px;
    right: 0px ;
    margin: 5px;
    margin-left: 60px;
  }
  
  .errormsg{
    color: red;
    font-weight: bold;
  }

  .successmsg{
    color: rgb(91, 146, 9);
    font-weight: bold;
  }


  
  .username{
    float: left ;
    padding-right: 20px;
    padding-left: 20px;
    max-height: 60%;
    margin-bottom:-15px;
  
 }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(180, 180, 180);
    width: 100%;
  }
  
  
  
  li a {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    border-left: 1px solid rgb(75, 75, 75);
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  .readonly{
    background-color: #bcd5cc;
    color: #606160;
  }


  table {
    border-collapse: collapse;
    border: 2px solid grey;
    padding: 15px;
  }

  th  {
    padding: 5px;
    width: 200px;
    border: 2px solid grey;
  }
 
  .thsmall {
    width: 75px !important;
  }


  
  tr {
    padding: 5px;
    border: 1px solid lightgrey;
  }

  td{
    padding: 5px;
  }

  .td{
    border: 1px solid lightgrey;
  }


  .imgbtn:hover{
    opacity: 0.6;
  }


  .condition_table{
    font-size: 11px;
    width: 27%;
    float: left;
    margin: 15px;
  }

  .medication_table{
    font-size: 11px;
    width: 27%;
    float: left;
    margin: 15px;
  }

  .vaccination_table{
    font-size: 11px;
    width: 37%;
    float: left;
    margin: 10px;
  }

  .visits_table{
    font-size: 13px;
    width: 90%;
    margin: 10px;
  }
  .toptable{
    margin-bottom: 30px;
  
  }