
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content option:hover {background-color: #7FFF00;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
 

  label {
    margin: 15px;
    margin-top: 15px;
  }

  input {
    margin: 15px;
    margin-top: 15px;
  }

  button{
      margin: 30px;
      background-color: whitesmoke;
      padding: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  button:hover{
    background-color: #04AA6D;
  }

  .header {
    background-color: rgb(85, 85, 197);
    display: inline-flex;
  }

  .header_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #bcd5cc;
    left: 0px;
  }

  .logo {
    width: 10%;
    right: 0px ;
    margin: 5px;
    margin-left: 60px;
  }
  
  .errormsg{
    color: red;
    font-weight: bold;
  }